<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Union de 2 palabras</title>
</head>

<body>
    <section>
        <h2>Union de 2 palabras</h2>
        <input type="text" id="palabra1">
        <input type="text" id="palabra2">
        <label id="unir"></label>
        <button onclick="unir2palabras()">Unir</button>
    </section>
    <script src="../../script/Secuenciales/unir2palabras.js"></script>
</body>

</html>
