<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Año bisiesto</title>
</head>
<body>
   <h2>Verifica si el año es bisiesto</h2> 
    <h3>Ingrese año</h3>
    <input type="text" id="anio">
    <button onclick="añoBisiesto()">Bisiesto</button>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../script/Mensajes.js" charset="utf-8"></script>
    <script src="../../script/Condicionales/Año-bisiesto.js"></script>
</body>
</html>