<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <H2>Indice de masa corporal</H2>
    <input type="text" id="peso">
    <input type="text" id="estatura">
    <button onclick="bmi()">Calcular BMI</button>
    <label for="" id="imc"></label>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../script/Mensajes.js" charset="utf-8"></script>
    <script src="../../script/Condicionales/BMI.js"></script>
</body>
</html>