<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de sueldo con aumento</title>
</head>
<body>
    <div>
        <h2>Calculadora de sueldo con aumento</h2>
        <p>Ingrese su sueldo</p>
        <input type="text" id="sueldo">
        <p>ingrese el porcentaje de aumento</p>
        <input type="text" id="aumento">
        <button onclick="CalculadoraConAumento()">Calcular</button>
    </div>
    <script src="../../script/Condicionales/CalculadoraConAumento.js"></script>
</body>
</html>