<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de tarifa</title>
</head>
<body>
    <div>
        <h2>Calculadora de tarifa de envio</h2>
        <p>Ingrese la distancia de envio en kilometros</p>
        <input type="text" id="distancia">
        <button onclick="CalculadoraDeEnvio()">Calcular</button>
    </div>
    <script src="../../script/Condicionales/CalculadoraDeEnvio.js"></script>
</body>
</html>