<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de articulos</title>
</head>
<body>
    <div>
        <h2>Calculadora de articulos</h2>
        <p>Ingrese el valor de sus articulos</p>
        <input type="text" id="articulos">
        <button onclick="AniadirArticulos()">agregar</button>
        <button onclick="CalculadoraMultiplesArt()">Confirmar</button>
    </div>
    <script src="../../script/Condicionales/CalculadoraMultiplesArt.js"></script>
</body>
</html>