<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/skeleton.css">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Calculadora de impuesto sobre el salario</title>
</head>

<body>
  <header>
    <nav class="nav-bar u-full-width">
      <img src="../../img/unemi-logo.png" alt="logo">
      <p><a href="../../index.html">Inicio</a></p>
    </nav>
  </header>
  <div class="container">
    <div class="hero sub-contenedor">
      <h2>Calculadora de impuesto sobre el salario</h2>
      <p>Ingrese su salario anual</p>
      <div class="mini-contenedor">
        <div class="entrada">
          <p>Salario:</p>
          <input type="text" id="salario">
        </div>
      </div>
      <button onclick="ImpuestoSala()">Calcular</button>
    </div>
  </div>

  <script src="../../script/Condicionales/CalculadoradeImpuestoSala.js"></script>
</body>

</html>
