<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ingrese precio y un descuento que desee</h2>
    <input type="text" id="precio">
    <input type="text" id="des">
    <button onclick="descuento()">Calcular</button>
    <label for="" id="pf"></label>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../script/Mensajes.js" charset="utf-8"></script>
    <script src="../../script/Condicionales/descuento1.js"></script>
</body>
</html>