<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bono Por Antiguedad</title>
</head>
<body>
    <div>
        <h2>Calcular Bono Por Antiguedad</h2>
        <p>Ingrese su salario</p>
        <input type="text" id="salario">
        <p>Ingrese sus años en la empresa</p>
        <input type="text" id="antiguedad">
        <button onclick="DescuentoPorAntiguedad()">Calcular</button>
    </div>
    <script src="../../script/Condicionales/DescuentoPorAntiguedad.js"></script>
</body>
</html>