<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/skeleton.css">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Mayor de Edad</title>
</head>

<body>
  <header>
    <nav class="nav-bar u-full-width">
      <img src="../../img/unemi-logo.png" alt="logo">
      <p><a href="../../index.html">Inicio</a></p>
    </nav>
    <div class="container">
      <div class="hero sub-contenedor">
        <h2>Mayoria de edad</h2>
        <h4>Ingrese edad</h4>
        <div class="mini-contenedor">
          <div class="entrada">
            <p>Edad:</p>
            <input type="text" id="edad" placeholder="Ingrese la edad">
          </div>
        </div>
        <button onclick="Mayordeedad()">Verificar</button>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../script/Mensajes.js" charset="utf-8"></script>
    <script src="../../script/Condicionales/Mayor de edad.js"></script>
</body>

</html>
