<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quincena</title>
</head>
<body>
    <h2>Verifica si el dia es de la primera o segunda quincena</h2>
    <input type="text" id="dia">
    <button onclick="quincena()">Verificar</button>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../script/Mensajes.js" charset="utf-8"></script>
    <script src="../../script/Condicionales/quincena.js"></script>
</body>
</html>