<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/Signos.css">
    <title>Signo Zodiacal</title>
    
</head>
<body>
    <div class="contenedor">
        <h2>Signo Zodiacal</h2>
        <p>Ingrese su fecha de nacimiento</p>
        <input type="date" id="fecha">
        <button onclick="SignoZodiacal()">Confirmar</button>
    </div>

    <script src="../../script/Condicionales/Signo-zodiacal.js"></script>
</body>
</html>