<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../node_modules/sweetalert2/dist/sweetalert2.css">
  <link rel="stylesheet" href="../../styles/index.css">
  <title>Fila 1</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <img src="../../img/unemi-logo.png" alt="logo">
      <p><a href="../../index.html">Inicio</a></p>
    </nav>

    <div class="head">
      <h1>Test 1:</h1>
    </div>
  </header>
  <div class="contenedor">
    <div class="sub-contenedores">
      <h2>Suma de pares y impare</h2>
      <p>Dado un numero cualquiera presentar la suma de los dígitos pares y la cantidad de los dígitos impares.
        Nota: Considerar el numero entero. </p>
        <input type="number" id="Numeros">
        <div id="caontenedorLoad">
        </div>
        <button onclick="SumaDeParesImpares()" type="button" name="button">Sumar</button>
    </div>
  </div>

  <script src="../../node_modules/sweetalert2/dist/sweetalert2.all.js"></script>
  <script src="../../script/Mensajes.js" charset="utf-8"></script>
  <script src="../../script/test1.js" charset="utf-8"></script>
</body>

</html>
