<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <script type="module">
    import sweetalert2 from 'https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/+esm'
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/index.css">

  <title>Condicionales</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <img src="../img/unemi-logo.png" alt="logo">
      <p><a href="../index.html">Inicio</a></p>
    </nav>

    <div class="head">
      <h1>Condicionales:</h1>
    </div>
  </header>
  <div class="contenedor">
    <div data-value="Condicionales/Mayor de 3 num.html" class="sub-contenedores ExprecionesMath">
      <h2>Mayor de tres números:</h2>
      <p>Solicita tres números y determina cuál es el mayor de
        ellos.</p>
    </div>
    <div data-value="Condicionales/Mayor de edad.html" class="sub-contenedores">
      <h2>Edad mínima para votar:</h2>
      <p>Pregunta la edad del usuario y verifica si es elegible
        para votar (18 años o más).</p>
    </div>
    <div data-value="" class="sub-contenedores">
      <h2>Calculadora de BMI:</h2>
      <p>Crea un programa que calcule el índice de masa corporal
        (BMI) a partir del peso y la altura del usuario, y luego indique si está en una
        categoría de peso saludable.</p>
    </div>
    <div data-value"" class="sub-contenedores">
      <h2>Número positivo, negativo o cero:</h2>
      <p>Pide al usuario que ingrese un número y
        muestra si es positivo, negativo o cero.</p>
    </div>
    <div data-value="" class="sub-contenedores">
      <h2>Año bisiesto:</h2>
      <p> Solicita al usuario un año y determina si es un año bisiesto o no.
        Un año bisiesto es divisible por 4, pero no por 100, a menos que también sea
        divisible por 400.</p>
    </div>
    <div data-value="" class="sub-contenedores">
      <h2> Signo zodiacal: </h2>
      <p>Pide al usuario que ingrese su mes y día de nacimiento, luego
        determina su signo zodiacal. Puedes usar una serie de declaraciones if para
        comparar las fechas ingresadas con las fechas límite de cada signo zodiacal.</p>
    </div>
    <div data-value="" class="sub-contenedores">
      <h2>Día del mes con respecto a la segunda quincena</h2>
      <p>Solicita al usuario que ingrese
        un número de día del mes (por ejemplo, del 1 al 31) y verifica si ese día
        pertenece a la primera quincena (días 1-15) o a la segunda quincena (días 16-
        31).</p>
    </div>
  </div>

  <footer>
    <p>Derechos reservados</p>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../script/Mensajes.js" charset="utf-8"></script>
  <script src="../script/div-click.js" charset="utf-8"></script>
</body>

</html>
