<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <script type="module">
    import sweetalert2 from 'https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/+esm'
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/skeleton.css">
  <link rel="stylesheet" href="../styles/index.css">

  <title>Condicionales</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <img src="../img/unemi-logo.png" alt="logo">
      <p><a href="../index.html">Inicio</a></p>
    </nav>

    <div class="hero left">
      <h1>Condicionales:</h1>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div data-value="Condicionales/Mayor de 3 num.html" class="four columns sub-contenedores ExprecionesMath top-hero">
        <h2>Mayor de tres números:</h2>
        <p>Solicita tres números y determina cuál es el mayor de
          ellos.</p>
      </div>
      <div data-value="Condicionales/Mayor de edad.html" class="four columns sub-contenedores top-hero">
        <h2>Edad mínima para votar:</h2>
        <p>Pregunta la edad del usuario y verifica si es elegible
          para votar (18 años o más).</p>
      </div>
      <div data-value="Condicionales/BMI.html" class="four columns sub-contenedores top-hero">
        <h2>Calculadora de BMI:</h2>
        <p>Crea un programa que calcule el índice de masa corporal
          (BMI) a partir del peso y la altura del usuario, y luego indique si está en una
          categoría de peso saludable.</p>
      </div>
      <div data-value="Condicionales/NegativoyPositivo.html" class="four columns sub-contenedores bottom">
        <h2>Número positivo, negativo o cero:</h2>
        <p>Pide al usuario que ingrese un número y
          muestra si es positivo, negativo o cero.</p>
      </div>
      <div data-value="Condicionales/Año-bisiesto.html" class="four columns sub-contenedores bottom">
        <h2>Año bisiesto:</h2>
        <p> Solicita al usuario un año y determina si es un año bisiesto o no.
          Un año bisiesto es divisible por 4, pero no por 100, a menos que también sea
          divisible por 400.</p>
      </div>
      <div data-value="Condicionales/Signo-zodiacal.html" class="four columns sub-contenedores bottom">
        <h2> Signo zodiacal: </h2>
        <p>Pide al usuario que ingrese su mes y día de nacimiento, luego
          determina su signo zodiacal. Puedes usar una serie de declaraciones if para
          comparar las fechas ingresadas con las fechas límite de cada signo zodiacal.</p>
      </div>
      <div data-value="Condicionales/quincena.html" class="four columns sub-contenedores top">
        <h2>Día del mes con respecto a la segunda quincena</h2>
        <p>Solicita al usuario que ingrese
          un número de día del mes (por ejemplo, del 1 al 31) y verifica si ese día
          pertenece a la primera quincena (días 1-15) o a la segunda quincena (días 16-
          31).</p>
      </div>
      <div data-value="Condicionales/dias-de-la-semana.html" class="four columns sub-contenedores top">
        <h2>Día de la semana:</h2>
        <p>Pide al usuario que ingrese un número del 1 al 7, donde 1
          representa el domingo, 2 el lunes, 3 el martes, y así sucesivamente. Luego,
          utiliza una estructura switch para mostrar el nombre del día de la semana
          correspondiente al número ingresado.</p>
      </div>
      <div data-value="Condicionales/FrasesIguales.html" class="four columns sub-contenedores top">
        <h2>Frases iguales:</h2>
        <p>Escribir un programa que ingrese dos frases e indique si son
          iguales.</p>
      </div>
      <div data-value="" class="four columns sub-contenedores bottom">
        <h2>Calculadora de precio con descuento:</h2>
        <p>Crea un programa que permita a un
          usuario ingresar el precio de un artículo y un porcentaje de descuento. El
          programa debe calcular y mostrar el precio final después del descuento.</p>
      </div>
      <div data-value="" class="four columns sub-contenedores bottom">
        <h2>Calculadora de sueldo con aumento:</h2>
        <p>Pide al usuario que ingrese su salario
          actual y el porcentaje de aumento que recibirá. Calcula y muestra el nuevo
          salario después del aumento.</p>
      </div>
      <div data-value="" class="four columns sub-contenedores bottom">
        <h2>Calculadora de compra con múltiples artículos: </h2>
        <p>Permite al usuario ingresar el
          precio y la cantidad de varios artículos que está comprando. Calcula el total de
          la compra y aplica un descuento del 10% si el total es mayor a cierta cantidad
          (por ejemplo, $100).</p>
      </div>
      <div data-value="" class="four columns sub-contenedores top">
        <h2>Calculadora de impuestos sobre el salario:</h2>
        <p>Solicita al usuario que ingrese su
          salario anual y calcula el impuesto sobre la renta según las siguientes tasas: De $10,000 al $20,000: 10%, Más de $20,000: 15%</p>
      </div>
      <div data-value="" class="four columns sub-contenedores top">
        <h2>Descuento por antigüedad en la empresa:</h2>
        <p>Pregunta al usuario cuántos años ha
          estado trabajando en una empresa y calcula su bono de antigüedad. Si ha
          trabajado más de 5 años, otorga un bono del 5% sobre su salario.</p>
      </div>
      <div data-value="" class="four columns sub-contenedores top">
        <h2>Calculadora de envío con tarifas diferentes: </h2>
        <p>Crea un programa que permita al
          usuario ingresar la distancia de envío y calcule el costo del envío. Si la distancia
          es inferior a 50 km, el costo es de $10. Si la distancia es de 50 km o más, el
          costo es de $20.</p>
      </div>
      <div data-value="" class="four columns sub-contenedores bottom">
        <h2>Calculadora de descuento por lealtad del cliente: </h2>
        <p>Pide al usuario que ingrese el
          total de sus compras mensuales durante un año. Si el total es superior a $500,
          aplica un descuento del 10% en la próxima compra.</p>
      </div>
      <div data-value="" class="four columns sub-contenedores bottom">
        <h2>Calculadora de descuento por volumen de compra:</h2>
        <p>Permite al usuario ingresar
          la cantidad de unidades de un producto que va a comprar y el precio unitario.
          Aplica descuentos por volumen de compra según las siguientes reglas</p>
        <ul>
          <li>10-50 unidades: 5% de descuento</li>
          <li>51-100 unidades: 10% de descuento</li>
          <li>Más de 100 unidades: 15% de descuento</li>
        </ul>
      </div>
      <div data-value="" class="four columns sub-contenedores bottom">
        <h2>Calculadora de costo de servicio: </h2>
        <p>regunta al usuario cuántas horas de servicio
          necesita y calcula el costo total. Si las horas son más de 10, aplica un
          descuento del 20%.</p>
      </div>
    </div>
  </div>

  <footer>
    <p>Derechos reservados</p>
  </footer>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="../script/scroll.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../script/Mensajes.js" charset="utf-8"></script>
  <script src="../script/div-click.js" charset="utf-8"></script>
</body>

</html>
