<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="../styles/expresiones.css">
    <title>Expreciones</title>
  </head>
  <body>
    <h1>Hellow</h1>
    <label for="b">
      <input type="text" id="b" name="" value="">
    </label>

    <label for="a">
      <input type="text" id="a" name="" value="">
    </label>
    <label for="resultado" id="resultado">Resultado: </label>
    <button onclick="ejercicio1()" type="button" name="button">Resultado</button>

    <script src="../script/expresion.js" charset="utf-8"></script>
  </body>
</html>
