<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Multiplo</title>
  </head>
  <body>
    <form class="">
      <label for="name">Nombre:</label>
      <input type="text" name="name" value=""><br><br>
      <label for="email">Correo electronico:</label>
      <input type="email" name="email" value=""><br><br>
      <label for="password">Contraseña:</label>
      <input type="password" name="password" value=""><br><br>
      <button type="submit" name="button">Enviar</button>
    </form>
    <script src="../script/Calculadora.js" charset="utf-8"></script>
  </body>
</html>
