<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Promedios</title>
  </head>
  <body>
    <h1>Calcular Promedios</h1>
    <div class="Container">
      <div class="Input">
        <input id="nota" type="number">
        <button onclick="aniadir_notas()" type="button" name="button">Añadir nota</button>
      </div>
      <div class="Resultado">
        <label id="promedio" for="promedio">Promedio de:</label>
        <button onclick="Promediar()" type="button" name="button">Promediar</button>
      </div>
      <p>Notas: </p>
      <ul id="notas-ul">
        
      </ul>
    </div>

    <script src="../script/js/promedio.js" charset="utf-8"></script>
  </body>
</html>
