<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <script type="module">
    import sweetalert2 from 'https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/+esm'
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/index.css">

  <title>Secuenciales</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <img src="../img/unemi-logo.png" alt="logo">
      <p><a href="../index.html">Inicio</a></p>
    </nav>

    <div class="head">
      <h1>Secuenciales:</h1>
    </div>
  </header>
  <div class="contenedor">
    <div data-value="Expresiones.html" class="sub-contenedores ExprecionesMath">
      <h2>Suma de elementos:</h2>
      <p>Mediante un arreglo de numeros enteros se suman todos sus elemento.</p>
    </div>
    <div data-value="Secuenciales.html" class="sub-contenedores Secuenciales">
      <h2>Promedio de Calificaciones:</h2>
      <p>Mediante un arreglo de calificaciones se sacara el promedio.</p>
    </div>
    <div data-value="Condicionales.html" class="sub-contenedores Condicionales">
      <h2>Mayor y menor valor:</h2>
      <p>En cuentra el el valor minimo y maximo en un arreglo.</p>
    </div>
    <div data-value="Bucles.html" class="sub-contenedores Bucles">
      <h2>Buscar un elemento:</h2>
      <p>Pide al usuario un numero y lo busca si esta presente en el arreglo.</p>
    </div>
    <div data-value="Arreglos.html" class="sub-contenedores Arreglos">
      <h2>Contar elementos pares:</h2>
      <p>En un arreglo de numeros pares se contaran los numeros pares que se encuentre.</p>
    </div>
    <div data-value="Arreglos.html" class="sub-contenedores Arreglos">
      <h2>Inversion de un arreglo:</h2>
      <p>Se invierte el orden de un arreglo.</p>
    </div>
    <div data-value="Arreglos.html" class="sub-contenedores Arreglos">
      <h2>Buscar indice:</h2>
      <p>El ususario ingresa un valor y se buscara en el arreglo si, el valor esta mas de una vez se mostrara todos los indices.</p>
    </div>
  </div>

  <footer>
    <p>Derechos reservados</p>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../script/Mensajes.js" charset="utf-8"></script>
  <script src="./script/div-click.js" charset="utf-8"></script>
</body>

</html>
