<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.css">

  <link rel="stylesheet" href="../styles/index.css">

  <title>Menu</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <img src="../img/unemi-logo.png" alt="logo">
      <p><a href="../index.html">Inicio</a></p>
    </nav>
    <h1>Menu principal:</h1>
  </header>
  <div class="contenedor">
    <div class="sub-contenedores">
      <h2>Ejercicio 1</h2>
      <p>Dado a=3 y b=7, encuentra el valor de y = 2 * a + b - a mod 3</p>
      <button onclick="Ejercicio1()" type="button" name="Ejercicio1">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 2</h2>
      <p>Si a=10 y b=4, calcula el valor de z = a * b + 3 mod a + b.</p>
      <button onclick="Ejercicio2()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 3</h2>
      <p>Con a=6 y b=2, determina el valor de w = a - b + 2 * a mod b.</p>
      <button onclick="Ejercicio3()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 4</h2>
      <p>Para a=8 y b=5, encuentra el valor de v = 2 * b + a div 2 + 4 * b mod a</p>
      <button onclick="Ejercicio4()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 5</h2>
      <p>Si a=12 y b=9, calcula el valor de u = b - a + 3 * a mod b</p>
      <button onclick="Ejercicio5()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 6</h2>
      <p>(5 + 3 * 2) + 9 > 3 * 5 * 14 % 3</p>
      <button onclick="Ejercicio6()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 7</h2>
      <p>2 *(4 - 10 + 8)/2* 36 *(1/2)</p>
      <button onclick="Ejercicio7()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 8</h2>
      <p>260 / 12 + 54 % 3 - 85 % 7</p>
      <button onclick="Ejercicio8()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 9</h2>
      <p>(48 < 2 * 3) | | (2 * 7 < 12)</p>
      <button onclick="Ejercicio9()" type="button" name="button">Ejecutar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Ejercicio 10</h2>
      <p>((8 > 2) | | (932 < 23) ) && 4==2</p>
      <button onclick="Ejercicio10()" type="button" name="button">Ejecutar</button>
    </div>
  </div>

  <footer>
    <p>Derechos reservados</p>
  </footer>


  <script src="../node_modules/sweetalert2/dist/sweetalert2.all.js"></script>
  <script src="../script/Mensajes.js" charset="utf-8"></script>
  <script src="../script/Expresiones.js" charset="utf-8"></script>
</body>

</html>
