<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/skeleton.css">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Tabla de Multiplicar</title>
</head>

<body>
  <header>
    <nav class="nav-bar u-full-width">
      <img src="../../img/unemi-logo.png" alt="logo">
      <p><a href="../../index.html">Inicio</a></p>
    </nav>
  </header>
  <div class="container">
    <div class="hero sub-contenedor">
      <h2>Mayor y Menor Valor</h2>
      <div class="mini-contenedor">
        <div class="entrada">
          <input type="number" id="numero" placeholder="Ingrese un número">
        </div>
      </div>
      <button onclick="aniadirNumero()">Añadir</button>
      <button onclick="verificar()">Verificar</button>
      <div class="resultado">
        <label id="mayor" for="mayor">Mayor Valor:</label>
        <label id="menor" for="menor">Menor Valor:</label>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../../script/Mensajes.js" charset="utf-8"></script>
  <script src="../../script/Arreglos/Mayor.js"></script>
</body>

</html>
