body {
  background-color: #222222;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ffffff' fill-opacity='0.11'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  color: rgb(237, 237, 237);
  font-family: 'Roboto', sans-serif;
}

li {
  text-align: left;
  margin: 10px;
}

.nav-bar {
  height: 4.5em;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.nav-bar p {
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-bar img {
  width: 7.6em;
  object-fit: cover;
}

.head {
  width: 60%;
}

.sub-contenedor {
  background-color: rgba(60, 61, 61, 0.45);
  padding: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgb(255, 255, 255, 0.1);
  transition: box-shadow 1s;
}

.sub-contenedor:hover {
  box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.1);
}

.sub-contenedor button {
  background-color: rgba(18, 128, 199, 0.76);
  color: white;
}

.mini-contenedor .entrada {
  display: flex;
  align-items: center;
  align-content: center;
}

.entrada {}

.entrada p {
  margin-left: 5px;
  margin-right: 10px;
}

.entrada label {
  margin-left: 5px;
  margin-right: 10px;
}

.entrada input {
  width: 12em;
  height: 2.2em;
}

.sub-caja {
  display: flex;
  flex-direction: column;
  background-color: rgba(60, 61, 61, 0.45);
  padding: 2em;
  margin: 1em;
  border-radius: 6px;
  align-items: center;
}

.sub-caja button{
  color: white;
  background-color: rgba(30, 148, 233, 0.84);
}
