<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../node_modules/sweetalert2/dist/sweetalert2.css">
  <script type="module">
    import sweetalert2 from 'https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/+esm'
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/index.css">

  <title>Arreglo</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <img src="../../img/unemi-logo.png" alt="logo">
      <p><a href="../../index.html">Inicio</a></p>
    </nav>

    <div class="head">
      <h1>Bucles:</h1>
      <p>Me diante un bucle for para contar el numero de diguitos en una palabra.</p>
    </div>
  </header>
  <div class="contenedor">
    <div class="sub-contenedores">
      <h3>Ingrese una palabra:</h3>
      <input id="text" type="text" name="" value="">
      <button onclick="ContadorDeDigitos()" type="button" name="button">Verificar</button>
    </div>
    <div class="sub-contenedores">
      <h2>Adivina el numero</h2>
      <h3>Ingrese un numero:</h3>
      <input id="numero" type="number">
      <button onclick="Adivinar()" type="button" name="button">Verificar</button>
    </div>
  </div>

  <footer>
    <p>Derechos reservados</p>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../../script/Mensajes.js" charset="utf-8"></script>
  <script src="../../script/Contador_de_diguitos.js" charset="utf-8"></script>
</body>
