<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <H2>Contador de vocales</H2>
    <h3>Ingrese una frase</h3>
    <input type="text" id="texto">
    <button onclick="contarVocales()">Contar</button>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../script/Mensajes.js" charset="utf-8"></script>
    <script src="../../script/Bucles/contadorVocales.js"></script>
</body>
</html>